/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: underline; 
}

.wfid_leftnav  {
  text-align: center;
  position: fixed;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow:auto;
  margin: 0;
  padding: 1px;
  border-right: 4px solid #ddd;
  -webkit-box-shadow: 8px 0px 10px rgba(0,0,0,0.5);
  padding: 4px;
}

.wfid_content {    
    margin-left: 290px;
}

.wfid_confirmbox {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

.wfid_loginbox {
    padding: 20px 20px;
    text-align: center;
    border: 8px solid #ddd;
    -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.wfid_logo {
    text-shadow: #AAA 2px 2px 7px;
    text-align: center;
    color: #444;   
}

.wfid_logo h1 {
    font-size: 135px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

.wfid_logo p {
    position: relative;
    top: -73px;
    left: 80px;
}

.card {
    position: relative;
    display: inline;
    text-align: left;
}

.card img {
    width: 223px;
    height: 310px;
}

.wtt {
    font-size: 12px;
    line-height: 23px;
    position: absolute;
    left: 7px;
    bottom: 11px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.wtt2 {
    display: inline;
}

.wtt2 div {
    display: none;
    font-size: 19px;
    border: 4px solid #ddd;
    -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5);
    padding: 7px;
    border-radius: 10px;
    left: -17px;
    bottom: 18px;
}

.wtt2 h3 {
    text-shadow: #AAA 2px 2px 7px;
    color: #444;   
    line-height: 0px;
    margin: 8px 0px;;
}

.wtt2 a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.wtt2 a:hover {
    text-decoration: underline;
}

.wtt2:hover div { 
    display:inline;
    z-index: 1;
    position:absolute;
    overflow: visible;
    background-color: white;
}

.iwtt {
    border-color: #FCE028;
    background-color: #F2E58F;
}